@import url('https://fonts.googleapis.com/css2?family=Khmer&family=Koulen&family=Moulpali&family=Parkinsans:wght@300..800&display=swap');

  /* font-family: "Parkinsans", sans-serif;
  font-family: "Moulpali", serif;
  font-family: "Koulen", serif;
  font-family: "Khmer", serif; */

*{
    font-family: "Parkinsans", sans-serif;
}
body {
    padding-top: 70px; /* Adjust based on your navbar height */
    /* min-height: 100vh;
     */
     height: 100%;
}
nav {
    background-color: #ffffff;
}

  

.navbar-brand img {
    max-height: 40px; /* Adjust logo size */
}
div ul li a.active {
    border-bottom: #000 3px solid;
    /* color: red !important; */
}
div ul li a:hover {
    color: #555;
}

.carousel-inner div img{
    aspect-ratio: 2/1;
    object-fit: cover; 
}
.image-our-app{
    display: block;
    aspect-ratio: 2/3;
    object-fit: cover; 
    height: 100%;
}
.gd {
    position: relative; /* Parent container must have relative positioning */
}

.card-text {
    color: #ffffff; /* Text color */
    text-align: center; /* Center-align text */
    position: absolute; /* Allows positioning relative to the parent */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Ensure perfect centering */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: add a semi-transparent background for contrast */
    padding: 5px 10px; /* Optional: add padding for readability */
    border-radius: 5px; /* Optional: make the text box corners rounded */
    z-index: 10; /* Ensure the text appears on top of the image */
    font-size: 1rem; /* Adjust font size for readability */
    line-height: 1.2; /* Adjust line height for better spacing */
    padding:10px;
}


.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* gradient color */
    z-index: 1;
  }

.gd{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/background.jpg');
    /* width: 80%; */
    /* height: 400px; */
    background-size: cover;
    color: white;
    /* padding: 20px; */
}


/* footer  */
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons li{
    list-style: none;
}
.social-icons li a{
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
}
.footer p, .footer li{
    font-size: 13px;
    list-style: none;
}